.contact_section{
    max-width: 1000px;
    margin:0 auto;
    
    
    
    
}

.contact_section h1{
    font-weight: 800;;
    font-size:30px;
    max-width: 80%;
    position: relative;
    top:10px;

}

.contact_section p{
    font-weight: 500;
}